/cmake-build-debug/
/cmake-build-debug/*
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/CMakeFiles/*
/cmake-build-debug/CMakeFiles/CMakeTmp/
/cmake-build-debug/CMakeFiles/CMakeTmp/*
/build/
/build/*
/.idea/*
/SEISREC-DEV/
/SEISREC-DEV/*
SEISREC-config
*.list