[Unit]
Description=Database-to-file service
After=multi-user.target
Requires=adxl355.service

[Service]
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/home/pi/SEISREC-DIST/parameter
User=pi
ExecStart=/home/pi/SEISREC-DIST/unit/unit_db2file -host $file_db_host -p $file_db_port -db $file_db_name -L $file_pipeline -w $file_db_pass -path $file_path -sps $gnss_freq -f $file_max_qty

[Install]
WantedBy=multi-user.target
