[Unit]
Description=DS3231 RTC service
After=multi-user.target
Before=db2file.service
Requires=ntp2.service

[Service]
Type=simple
EnvironmentFile=/home/pi/SEISREC-DIST/parameter
User=root
Restart=always
RestartSec="$rtc_sleep_s"
ExecStart=/home/pi/SEISREC-DIST/unit/unit_ds3231sn -l -h $rtc_snooze_h -m $rtc_snooze_m -s $rtc_snooze_s
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ds3231sn

[Install]
WantedBy=multi-user.target