[Unit]
Description=Run RTC ds3231sn.service every 4 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=4m
Unit=ds3231sn.service

[Install]
WantedBy=timers.target