[Unit]
Description=DYNAMIC DNS update service
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=600
EnvironmentFile=/home/pi/SEISREC-DIST/parameter
User=pi
ExecStart=/home/pi/SEISREC-DIST/unit/unit_dyndns-manager -host $dyn_host -u $dyn_user -p $dyn_pass -t $dyn_time
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dyndns-manager

[Install]
WantedBy=multi-user.target
