[Unit]
Description=NEOM8 GPS config binary
Before=adxl355.service gpsd.service

[Service]
Type=notify
EnvironmentFile=/home/pi/SEISREC-DIST/parameter
User=root
ExecStart=/home/pi/SEISREC-DIST/unit/unit_neom8 -f $gnss_freq -u -c
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=neom8


[Install]
WantedBy=multi-user.target
