[Unit]
Description=REDIS launcher service (systemd)

[Service]
Type=notify
EnvironmentFile=/home/pi/SEISREC-DIST/parameter
Restart=always
ExecStart=/usr/local/bin/redis-server /etc/redis/6379.conf --supervised systemd
ExecStop=/usr/local/bin/redis-cli -a $db_pass -p $db_port shutdown
CPUAffinity=3
CPUSchedulingPolicy=rr
CPUSchedulingPriority=20


[Install]
WantedBy=multi-user.target